

.registro{

   
    padding: auto;
    text-align: left;
    padding-left: 0px;
    
    padding-right: 0px;
    margin: auto;
    margin-bottom: 0px;
    margin-top: 50px;
}

main{
    background-color: rgb(230, 230, 230);
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  margin-bottom: 20px;
  padding-bottom: 100px;
  padding-left: 30px;
  padding-right: 30px;

  border-radius: 15px;
}

body{
    background-color: rgb(82, 82, 82);
}